html, body {
  font-family: 'Lato';
  font-weight: 300;
  background: url('http://api.thumbr.it/whitenoise-361x370.png?background=f9f9f9&noise=a1a1a1&density=100&opacity=9');
  color: #888;
  --main-color: #00CD98;
}

#container {
  max-width: 900px;
  margin: 40px auto;
  background-color: white;
  padding: 30px 70px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-info {
  display: flex;
  align-items: center;
}

.header-infoName {
  margin-left: 20px;
}
.header-name {
  font-size: 40px;
  color: var(--main-color);
  font-style: italic;
}

.header-profilePhoto {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.header-profilePhoto img {
  width: 170px;
  transform: translate(-20%, -10%);
  height: auto;
  filter: brightness(110%) saturate(70%);
}

.header-cv {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 5.6px;
  margin-left: 3px;
  color: #aaa;
  margin-top: 5px;
}
.header-infoList {
  list-style-type: none;
  line-height: 30px;
}

.infoList-item {
  font-size: 14px;
  font-weight: 400;
}

.infoList-item i {
  margin-right: 8px;
  color: var(--main-color);
  font-size: 18px;
  line-height: 30px;
}

i.fa-envelope {
  font-size: 14px;
}

.content {
  margin-top: 50px;
}

.content-header {
  font-size: 30px;
  margin-bottom: 40px;
}

.content-header--right{
  text-align: right;
}
.content-header .fa {
  margin-right: 5px;
  color: var(--main-color);
}

.content-infoRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px dashed #ddd;
  align-items: center;
  padding: 0 0px 20px 0;
}

.infoRow-education {
  line-height: 25px;
  font-size: 16px;
}

.infoRow-educationYear {
  font-weight: 400;
}

.education-header {
  font-weight: 400;
  color: #666;
}
.education-secondaryHeader {
  font-style: italic;
  color: #888;
}

.content-infoBlock {
  display: flex;
  line-height: 26px;
}

.content-infoBlock--grid {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 50px;
}

.infoBlock-row {
  display: flex;
  justify-content: center;
}

.infoBlock-block {
  text-align: justify;
  margin-right: 20px;
}

.infoBlock-block p {
  margin-top: 0;
}

.twoColumn .content {
  width: 50%;
}

.twoColumn .content:last-child .infoBlock-block {
  margin-right: 0px;
}

.twoColumn {
  display: flex;
}

.infoBlock-image {
  justify-self: center;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  transition: 0.3s ease all;
  border-radius: 50%;
  margin: 5px;
}
.infoBlock-image:hover {
  transform: scale(1.3);
  z-index: 10;
  cursor: pointer;
}

.infoBlock-skillImage {
  max-width: 100%;
  height: auto;
  transition: 0.3s ease all;
}

.infoBlock-image--big {
  width: 100px;
  height: 100px;
}

.infoBlock-image--small {
  width: 40px;
  height: 40px;
}
